<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTJ82i9Msb2f8dK565fpQQou6SU-WnFBfiBIQ&usqp=CAU"
    style="max-height: 25px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home
      </a>
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" *ngIf="userLoggedIn">Dashboard</a>
      <a class="nav-link" routerLink="/events" routerLinkActive="active" *ngIf="userLoggedIn">Events</a>
      <a class="nav-link" routerLink="/history" routerLinkActive="active" *ngIf="userLoggedIn">History</a>
      <a class="nav-link" routerLink="/gifts" routerLinkActive="active">Top Gifts</a>
    </div>
    <span class="navbar-text">
      <div class="btn-group dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false" style="cursor: pointer">User: {{userName}}
        <img style="max-height: 30px; ;border: 1px solid darkgrey; border-radius: 15px"
               src="{{logoPath}}">
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 10px">
          <a class="dropdown-item"  (click)="onLogOut()" style="cursor: pointer">Logout</a>
          <a class="dropdown-item"  (click)="onLogOut()" style="cursor: pointer">New login</a>
        </div>
      </div>
    </span>
  </div>
</nav>
