<div class="row">
  <div class="col">
    <label class="font-weight-bold"> Filter by User name</label>
    <input type="text" class="form-control" [(ngModel)]="userNameFilter">
  </div>
  <div class="col">
    <label class="font-weight-bold"> Filter by Type</label>
    <input type="text" class="form-control" [(ngModel)]="eventTypeFilter">
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <div *ngFor="let occasion of occasions">
      <ng-container
        *ngIf="(userNameFilter.toUpperCase()===occasion.userName.toUpperCase()||userNameFilter==='')
    &&(eventTypeFilter.toUpperCase()===occasion.occasionType.toUpperCase()||eventTypeFilter==='')">
        <app-occasion-item [occasion]="occasion"></app-occasion-item>
      </ng-container>
    </div>
  </div>
</div>
<hr>
<div class="col">
  <button class="btn btn-secondary" [routerLink]="['new']">New Event</button>
</div>
<br>
<br>
