<div class="card my-5">
  <div class="card-header">Table of user gifts</div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User name</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usersGift of usersGift">
        <td>{{ usersGift.id}}</td>
        <td>
        </td>
        <td>{{ usersGift.date | date: 'yyyy-MM-dd'}}</td>
        <td>{{ usersGift.type }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
