<div *ngIf="occasion">
  <div class="row">
    <div class="col-7" style="width: 400px">
      <h1>{{occasion.userName}} {{occasion.userSurname}}</h1>
      <h4>{{occasion.occasionType.toUpperCase()}}</h4>
      <p>{{occasion.occasionDate| date: 'yyyy-MM-dd'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Manage Event
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['edit']" style="cursor: pointer">Edit event</a>
          <a class="dropdown-item bg-danger" style="cursor: pointer"
             (click)="onDeleteOccasion('Event deleted successfully!')">Delete event</a>
          <a class="dropdown-item" [routerLink]="['newGift']" style="cursor:
          pointer">Add
            new Gift</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 50px">
    <div class="col-10">
      <h3>Gift list</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Picture</th>
          <th scope="col">Rating</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let gift of occasion.gifts">
          <td style="width: 250px">{{gift.giftDescription}}</td>
          <td><img src="{{gift.imaginePath}}" alt="{{gift.giftDescription}}" class="imagineFromList"></td>
          <td>
            <img src="assets/thumbUp.u3.jpg"
                 style="max-height: 20px; cursor: pointer" class="img-fluid" (click)="onAddLike(gift)">
            {{gift.rating}}
          </td>
          <td>
            <div class="row">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Manage
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" style="cursor:pointer" (click)="onConfirmSingle(gift, occasion)">Confirm as single</a>
                  <a class="dropdown-item" style="cursor:pointer" (click)="onConfirmMulti(gift, occasion)">Confirm as multi</a>
                  <a class="dropdown-item" style="cursor: pointer" [routerLink]="['editGift/'+gift.giftId]">Edit</a>
                  <a class="dropdown-item bg-danger" style="cursor: pointer" (click)="onDeleteGift(gift.giftId)">Delete</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

