<a href="#"
   (click)="onSelect(occasion)">
  <div class="list-group-item text-secondary clearfix">
    <div class="float-left">
      <h4 class="alert-heading">{{occasion.type.toUpperCase()}}</h4>
      <p>{{occasion.userName}} {{occasion.userSurname}}</p>
      <p>{{occasion.date| date: 'yyyy-MM-dd'}}</p>
    </div>
    <span class="float-right">
      <img *ngFor="let gift of occasion.gifts" src="{{gift.imaginePath}}" alt="{{gift.description}}" style="max-width:
       60px; max-height: 60px; padding-right: 5px">
    </span>
  </div>
</a>
