<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Event</th>
    <th scope="col">Date</th>
    <th scope="col">Description</th>
    <th scope="col">Picture</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let historyEntry of historyEntries; let i = index">
    <th >{{i + 1}}</th>
    <td >{{historyEntry.userName}}</td>
    <td>{{historyEntry.userSurname}}</td>
    <td>{{historyEntry.historyType.toUpperCase()}}</td>
    <td>{{historyEntry.historyDate| date: 'yyyy-MM-dd'}}</td>
    <td>{{historyEntry.historyDescription}}</td>
    <td><a href="#" (click)="onSelectLink(historyEntry)" data-toggle="modal" data-target="#picture">
      <img
        src="{{historyEntry.historyImaginePath}}"
        style="max-height:50px"
        alt="{{historyEntry.historyDescription}}"></a></td>
  </tr>
  </tbody>
</table>
<app-history-modal></app-history-modal>
